<section id="portfolio">
    <h3>PORTFOLIO</h3>
    <p>Some of my best projects so far</p>
    <hr />
    <div>
      <article>
        <a href="#"
          ><img src="../../assets/Coding-icon.svg" alt="code-icon"
        /></a>
        <h4>TIC TAC TOE</h4>
        <p>It is a simple game. Two players are required to play this game</p>
      </article>
      <article>
        <a href="#"><img src="./assets/Coding-icon.svg" alt="code-icon"/></a>
        <h4>Pick Up Knowledge</h4>
        <p>This is a website in which you can learn programming</p>
      </article>
      <article>
        <a href="#"><img src="./assets/Coding-icon.svg" alt="code-icon"/></a>
        <h4>Student Attendance Management</h4>
        <p>This project will help to manage and access data of student.</p>
      </article>
    </div>
  </section>